---
const { Content, data } = Astro.props;
import Image from "../Assets/Images/RB-photo.png";
import { Icon } from "astro-icon/components";
---

<article class="post-content">
  <section class="head-article">
    <h1 class="post-title">{data.title}</h1>
    <div class="avatar">
      <div class="picture-blog">
        <img
          src={Image.src}
          alt="Picture of the author"
          class="picture-avatar"
        />
      </div>
      <div class="author-date">
        {
          data.lang === "en"
            ? `By ${data.author} on ${new Date(data.date).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                }
              )}`
            : `Par ${data.author}, le ${new Date(data.date).toLocaleDateString(
                "fr-FR",
                {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                }
              )}`
        }
      </div>
    </div>
    <div class="tags-container">
      Tags:
      {
        data.tags.map((tag: string) => (
          <button class="tag">
            <a href={`/tags/${tag}`} class="tag-link">
              {tag}
            </a>
          </button>
        ))
      }
    </div>
  </section>
  <section class="translation-section">
    <a href={data.translation} class="translation-link">
      <Icon name="maki:arrow" />
      {
        data.lang === "en" ? (
          <div class="translation-text">
            <div class="content">
              Cet article est aussi disponible en Français
            </div>
            <Icon name="noto:baguette-bread" class="icon-svg" />
          </div>
        ) : (
          <div class="translation-text">
            <div class="content">This article is also available in English</div>

            <Icon name="noto:hamburger" class="icon-svg" />
          </div>
        )
      }
    </a>
  </section>
  <Content class="content" />
</article>

<style>
  .post-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding: 200px 150px;

    @media screen and (max-width: 1200px) {
      padding: 200px 150px;
    }
    @media screen and (max-width: 900px) {
      padding: 200px 120px;
    }
    @media screen and (max-width: 650px) {
      padding: 200px 50px;
    }
    @media screen and (max-width: 500px) {
      padding: 120px 10px;
    }
    @media screen and (max-width: 360px) {
      padding: 120px 10px 200px;
    }
  }

  .post-title {
    color: #ff5c39;
    font-weight: 700;
    font-size: 4rem;
    font-family: "Cairo", sans-serif;
    margin-bottom: 8px;
    margin-block-start: 0px;
    line-height: 1.2;

    @media screen and (max-width: 1200px) {
      font-size: 4rem;
    }
    @media screen and (max-width: 900px) {
      font-size: 3rem;
    }
    @media screen and (max-width: 650px) {
      font-size: 2.8rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 2.5rem;
    }
    @media screen and (max-width: 360px) {
      font-size: 2rem;
    }
  }
  .content {
    z-index: 1;
    font-family: "Mukta", sans-serif;
  }

  .author-date {
    margin: 0;
    color: #6c757d;
  }

  .tags-container {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: wrap;
  }

  .tag {
    background: inherit;
    font-style: italic;
    border: 1px solid white;
    border-radius: 24px;
    color: white;
    padding: 8px 16px;
    user-select: none;
  }

  .tag-link {
    text-decoration: none;
  }

  tag-separator:last-of-type {
    display: none;
  }

  .picture-blog {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 52px;
    height: 50px;
    overflow: hidden;
  }

  .picture-avatar {
    width: 100%;
    object-fit: contain;
  }

  .avatar {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .head-article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
    margin-bottom: 1.5rem;
  }

  th {
    border: 1px solid white;
    padding: 0.75rem;
    text-align: left;
    background-color: grey;
  }

  td {
    border: 1px solid white;
    padding: 0.75rem;
  }

  caption {
    caption-side: bottom;
    text-align: center;
    padding-top: 0.5rem;
    color: #6c757d;
    font-style: italic;
  }

  .translation-link {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    font-style: italic;
    padding: 4px;
  }

  .translation-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .translation-text {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  .icon {
    display: flex;
    width: 100%;
  }
</style>
